<div class="container">
<div class="row g-3">

  <div class="col">
    <div class="card">
      <img src="../../../assets/getpension.jpg" class="card-img-top" alt="..." >
      <div class="card text-center">
        <div class="card-body">
          <h5 class="card-title">Get Pension Details</h5>
          <p class="card-text">Enter Aadhar No to see pension details</p>
          <a routerLink="../pension-details" (onClick)="getPensionDetails()" class="btn btn-primary">Get Pension details</a>
        </div>
        <div class="card-footer text-muted">
          &copy; PMS
        </div>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card" style="height: 150px;">
      <img src="../../../assets/processpension.jpg" class="card-img-top" alt="..." width="400" 
      height="500" >
      <div class="card text-center">
        <div class="card-body">
          <h5 class="card-title">Process Pension Service</h5>
          <p class="card-text">Enter Aadhar No to process your pension details</p>
          <a routerLink="../aadhar" (onClick)="processPension()" class="btn btn-primary">Process your pension</a>
        </div>
        <div class="card-footer text-muted">
          &copy; PMS
        </div>
      </div>
      </div>
  </div>

</div>

</div>