<div>
<nav class="navbar navbar-expand-sm navbar-dark bg-dark" style="padding-left: 10px; padding-right: 10px; ">
  <a class="navbar-brand" routerLink="dashboard">Pension Management System</a>
  <div class="collapse navbar-collapse" >
    <ul class="navbar-nav me-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="register" *ngIf="!isLoggedIn()">Register</a>
      </li>
    </ul>
    <span class="navbar-text">
      <a class="btn btn-success" routerLink="userlogin" *ngIf="!isLoggedIn()">Login</a>
      <a class="btn btn-danger" *ngIf="isLoggedIn()" routerLink="userlogin" (click)="logout()">Logout</a>
    </span>
  </div>
</nav>

<br> 
<router-outlet></router-outlet>
<br>

<div>
  <footer class="footer">
    <div style="  
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(34, 31, 31, 0.751);
    color: aliceblue;
    text-align: center;" >
      <span> 2022 © Pension Management System </span>
    </div>
  </footer>
</div>
</div>